/* Configurações Globais */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

p,
a,
button {
  font-family: "Montserrat";
}

a,
button {
  font-weight: 600;
}

button:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

/* Header */
menu {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

a:hover {
  text-decoration: underline;
  transition: 0.3s ease;
}

header button {
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  padding: 10px;
}

/* Hero */
.hero-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
}

.hero-text h1 {
  font-size: 85px;
  line-height: 80px;
  word-spacing: -5px;
}

/*